@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
}
.gradient-background {
  background: linear-gradient(84deg,#36e11c,#003cff);
  background-size: 120% 120%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }

  .btn-primary {
    @apply bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md transition duration-300 inline-block;
  }
}

